.pContainer {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
}

.project {
    display: flex;
    gap: 50px;
    overflow: hidden;
}

.project div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.project span {
    font-weight: 700;
    font-size: 2rem;
}

.project button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    border: none;
    font-size: 1.5rem;
    color: var(--pink);
    text-align: left;
    display: flex;
    align-items: center;
    transition: 200ms all;
}

.project button:hover {
    transform: scale(105%);
}

.skeleton {
    width: 18rem;
    padding: 1rem;
    text-align: center;
    border-radius: .8rem;
    display: contents;
}

.cardTitle, .cardDescription {
    background-color: #29202b;
    border-radius: inherit;
    animation: shimmer 1s infinite;
}

.cardTitle {
    height: 15px;
    margin-bottom: 1rem;
}

.cardDescription {
    height: 15rem;
}

@keyframes shimmer {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media (max-width:1024px) {
    .title {
        flex-direction: column;
        gap: 20px;
    }

    .title>div {
        display: flex;
        width: 100%;
    }

    .project {
        flex-direction: column !important;
    }

    .project span {
        font-size: 1.5rem;
    }

    .project button {
        font-size: 1rem;
    }


}