.pContainer{
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-x: hidden;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title > div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project {
    display: flex;
    gap: 50px;
}

.project div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.project span{
    font-weight: 700;
    font-size: 2rem;
}

.project button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    border: none;
    font-size:1.5rem;
    color: var(--pink);
    text-align: left;
    display: flex;
    align-items: center;
}

@media (max-width:1024px){
    .title{
        flex-direction: column;
        gap: 20px;
    }

    .project{
        flex-direction: column !important;
    }

    .project span{
        font-size: 1.5rem;
    }

    .project button{
        font-size:1rem;
    }
}